<div id="<%= dom_id cover_letter %>">
  <p>
    <strong>Created at:</strong>
    <%= cover_letter.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= cover_letter.updated_at %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cover_letter.user_id %>
  </p>

  <p>
    <strong>Job posting:</strong>
    <%= cover_letter.job_posting_id %>
  </p>

  <p>
    <strong>Cover letter text:</strong>
    <%= cover_letter.cover_letter_text %>
  </p>

</div>
