<p style="color: green"><%= notice %></p>

<%= render @cover_letter %>

<div>
  <%= link_to "Edit this cover letter", edit_cover_letter_path(@cover_letter) %> |
  <%= link_to "Back to cover letters", cover_letters_path %>

  <%= button_to "Destroy this cover letter", @cover_letter, method: :delete %>
</div>
