<!-- app/views/home/index.html.erb -->

<!DOCTYPE html>
<html>
  <head>
    <title>UCL</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container mt-5">
      <h1 class="text-center">Welcome to UCL</h1>

      <!--change 'if' order to have guest first, user second to fix alert box-->

      <% if user_signed_in? %>
        <% if current_user.email == "guest@example.com" %>
          <div class="alert alert-info text-center">
            <p>Welcome, Guest User!</p>
            <%= link_to 'Test it out', ucl_test_path, method: :get, class: 'btn btn-success' %>
            <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
          </div>
        <% else %>
          <div class="mt-2 text-center d-grid gap-2 d-md-block">
            <p>Welcome, <%= current_user.email %>!</p>

            <%= link_to 'Test it out', ucl_test_path, method: :get, class: 'btn btn-success' %>

            <div class="mt-2 text-center d-grid gap-2 d-md-block">
              <%= link_to 'See resumes', resumes_url, method: :get, class: 'btn btn-primary' %>
              <%= link_to 'See job postings', job_postings_url, method: :get, class: 'btn btn-primary' %>
              <%= link_to 'See cover letters', cover_letters_url, method: :get, class: 'btn btn-primary' %>
            </div>

            <div class="mt-2 text-center d-grid gap-2 d-md-block">
              <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="text-center">
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-primary mx-2' %>
          <%= link_to 'Log in', new_user_session_path, class: 'btn btn-secondary mx-2' %>
          <%= link_to 'Log in as Guest', guest_login_path, class: 'btn btn-warning mx-2' %>
        </div>
      <% end %>
    </div>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
