<!-- app/views/devise/sessions/new.html.erb -->

<div class="container mx-auto mt-5 max-w-md">
  <h2 class="text-center text-2xl font-bold mb-4">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-4">
      <%= f.label :email, class: "block text-sm font-medium text-gray-700" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>

    <div class="mb-4">
      <%= f.label :password, class: "block text-sm font-medium text-gray-700" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
    </div>

    <div class="mb-4 flex items-center">
      <%= f.check_box :remember_me, class: "h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
      <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
    </div>

    <div class="flex justify-center">
      <%= f.submit "Log in", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
    </div>
  <% end %>

  <div class="text-center mt-4">
    <%= render "devise/shared/links" %>
  </div>
</div>
