<div id="<%= dom_id job_posting %>">
  <p>
    <strong>Created at:</strong>
    <%= job_posting.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= job_posting.updated_at %>
  </p>

  <p>
    <strong>Job posting:</strong>
    <%= job_posting.job_posting %>
  </p>

  <p>
    <strong>Job description:</strong>
    <%= job_posting.job_description %>
  </p>

</div>
