<div id="<%= dom_id resume %>">
  <p>
    <strong>Created at:</strong>
    <%= resume.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= resume.updated_at %>
  </p>

  <p>
    <strong>Resume:</strong>
    <%= resume.resume %>
  </p>

  <p>
    <strong>User:</strong>
    <%= resume.user_id %>
  </p>

  <p>
    <strong>Extracted text:</strong>
    <%= resume.extracted_text %>
  </p>

</div>
